<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gestion de Apartamentos</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    @* Uncomment to use the HtmlEditor control *@
    @* <script src="https://unpkg.com/devextreme-quill@23_1/dist/dx-quill.min.js"></script> *@

    @Styles.Render("~/Content/bundle")
    @Styles.Render("~/Content/DevExtremeBundle")
    @Scripts.Render("~/Scripts/bundle")
    @Scripts.Render("~/Scripts/DevExtremeBundle")
</head>

<body style="padding-top: 5rem;">

    <nav class="navbar navbar-dark bg-dark fixed-top navbar-expand-md">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">GESTION DE APARTAMENTOS</a>

            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navbar" class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a href="@Url.Action("Apartamento", "Home")" class="nav-link">Apartamentos</a></li>
                    <li class="nav-item"><a href="@Url.Action("Arrendador", "Home")" class="nav-link">Arrendadores</a></li>
                    <li class="nav-item"><a href="@Url.Action("Arrendatario", "Home")" class="nav-link">Arrendatarios</a></li>
                    <li class="nav-item"><a href="@Url.Action("Edificio", "Home")" class="nav-link">Edificios</a></li>
                    <li class="nav-item"><a href="@Url.Action("Contrato", "Home")" class="nav-link">Contratos</a></li>
                    <li class="nav-item"><a href="@Url.Action("Empleado_Mantenimiento", "Home")" class="nav-link">Empleados de Mantenimiento</a></li>
                    <li class="nav-item"><a href="@Url.Action("Factura", "Home")" class="nav-link">Facturas</a></li>
                    <li class="nav-item"><a href="@Url.Action("Pago", "Home")" class="nav-link">Pagos</a></li>
                    <li class="nav-item"><a href="@Url.Action("Garante", "Home")" class="nav-link">Garantes</a></li>
                    <li class="nav-item"><a href="@Url.Action("Historial_Mantenimiento", "Home")" class="nav-link">Historial de Mantenimiento</a></li>
                    <li class="nav-item"><a href="@Url.Action("Queja_Solicitud", "Home")" class="nav-link">Quejas y Solicitudes</a></li>
                    <li class="nav-item"><a href="@Url.Action("Solicitud_Mantenimiento", "Home")" class="nav-link">Solicitudes de Mantenimiento</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="container">
        @RenderBody()
    </main>
</body>

</html>